APP_ENV=local

DB_HOST=localhost
DB_DATABASE=banco_avalia
DB_USER=root
DB_PASSWORD=

# Token da API Invertexto da API Invertexto para validar CPF/CNPJ
# Para obter acesse em https://api.invertexto.com/tokens
INVERTEXTO_TOKEN=